
.container{
    width: 1400px;
    margin: 0 auto;
}
header{
    align-items: center;
    background-color: #234BBB;
    display: flex;
}
form{
    margin: 20px;
    width: 600px;
    position: relative;
}
input[name="search"]{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 7px;
}
.btn_search{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.icon-search {
    width: 24px;
    height: 24px;
    fill: #234BBB; 
}
.head_right{
    display: flex;
    font-size: 20px;
}
.head_right i{
    font-size: 25px;
}
.head_right a{
    text-decoration: none;
    color: #fff;

}
.hotline{
    color: #fff;
    margin: 18px;
}
.favorite,
.login_header,
.cart_header {
    transition: transform 0.3 ease;
    text-align: center;
    margin: 18px;
}
.favorite:hover i,
.login_header:hover i,
.cart_header:hover i {
    transform: scale(1.2);
}
.sec1{
    display: flex;
    background-color: #234BBB;
}
.menu {
    position: relative;
    display: flex;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: rgb(150, 190, 209);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-top: 30px;
}
.menu:hover .menu-content {
    display: block;
}

.menu{
    font-size: 30px;
    margin-left: 150px;

}