body,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: #234BBB;
    width: 100%;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* phần tìm kiếm */
header{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    background-color: #234BBB;
    display: flex;
}
form{
    margin: 20px;
    width: 600px;
    position: relative;
}
input[name="search"]{
    padding-left: 10px;
    width: 467px;
    height: 50px;
    border: none;
    border-radius: 7px;
}
.btn_search{
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.icon-search{
    width: 24px;
    height: 24px;
    fill: #234BBB; 
}
.head_right{
    display: flex;
    font-size: 20px;
    align-items: center;
}
.head_right i{
    font-size: 25px;
}
.head_right a{
    text-decoration: none;
    color: #fff;
}
.hotline{
    white-space: nowrap;
    color: #fff;
    margin: 18px;
}
.favorite,
.login_header,
.cart_header {
    white-space: nowrap;
    text-align: center;
    margin: 18px;
}
.favorite:hover i,
.login_header:hover i,
.cart_header:hover i {
    transform: scale(1.2);
}
/* end tìm kiếm */

/* phần menu */
.sec1{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    background-color: #234BBB;
}
.sec1 li{
    font-size: 20px;
    list-style-type: none;
    margin: 0px 20px;
    position: relative;
}
.sec1 li a{
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.menu{
    margin: 0px;
    position: absolute;
}
.sub_menu1{
    width: 1200px;
    background-color: #fff;
    position: absolute;
    left: -20px;
    top: 0;
    display: none;
}
.sub_menu1 li a{
    color: black;
}
.sec1 li:hover .sub_menu1{
    display: block;
}
.sec1 li a:hover{
    text-decoration: underline;
}
/* end menu */
.Hello{
    height: 30px;
    background: #FFD700;
    font-size: large;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}